body {
  background: #f6f5f7;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.main-box {
  margin: 0 auto;
  width: 60vw;
  height: 80vh;
  border-radius: 8px;
  box-shadow: 0 18px 28px rgba(0,0,0,0.25), 
	  0 10px 10px rgba(0,0,0,0.22);

  display: flex;
  justify-content: space-between;
}

/* LOGIN-CONTENT */
.login-content {
  width: 50%;
  border-radius: 8px 0 0 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header h1 {
  font-weight: 400;
}

.login-header img {
  margin-bottom: 5px;
  width: 50px;
}

.form-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-box input {
  padding: 10px;
  border-radius: 8px;
  width: 20vw;
  height: 50px;
  border: 0;
  outline: solid 0px #fff;
  background: #F0F0F0;

  transition: all 0.3s ease;
}

.input-box input:hover {
  outline: solid 0.5px #f5af19;
}

.input-box input:focus {
  outline: solid 0.5px #f5af19;
}

.button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 180px;
}

.form-button {
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  border: 0;
  background: #f5af19;
  color: #fff;

  cursor: pointer;
  transition: all 0.3s;
}

.form-button:hover {
  background: #F57D19;
}

#forgot-password {
  margin-top: 20px;
  text-decoration: none;
  color: #666;
  font-size: 14px;

  transition: all 0.3s;
}

#forgot-password:hover {
  color: #222;
}

#success {
  color: #7DF728;
  text-decoration: none;
  margin-top: 5px;

  transition: all 0.3s;
}

#success:hover {
  color: #47AC00;
}

#danger {
  color: #F33B00;
  text-decoration: none;
  margin-top: 5px;
}

/* OVERLAY */
.overlay {
  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 50%;
  border-radius: 0 8px 8px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay p {
  font-weight: 700;
  color: #fff;
  font-style: italic;
  font-size: 8rem;
}

@media(max-height: 720px)
{
  .form-container {
    margin-top: 20px;
  }
}